<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- must delete in production-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    {% load static %}
    <link  rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}?v={{ timestamp }}" >
    <link  rel="stylesheet" type="text/css" href="{% static 'home/css/style@mobile.css' %}?v={{ timestamp }}" >
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">    <title>Kape-thana beach house</title>
</head>
    <body>
    <header class="header">
        <div>
        <img src="{% static 'home/img/kape-thana_logo.png'%}" alt="Logo">
        <h2>Kape-thana Beach House</h2>
        </div>
        <nav>
            <a href="home/index.html">Contact Us</a>
            <a href="home/index.html">Services</a>
            <a href="home/index.html">About Us</a>
            <a href="home/index.html">Pages</a>
            <a href="home/index.html">Home</a>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>copyright &copy; 2024 Kape-thana beach house | powered by web wizard</p>
    </footer>
    </body>

    <script src="{% static 'home/js/script.js' %}?=v{{ timestamp }}"></script>
</html>