
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #f7f1eb;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px;
            height: 100vh;
            margin: auto;
            box-sizing: border-box;
        }

        .branding {
            padding: 0;
            text-align: center;
            height: 100%;

        }

        .branding img {
        height: 100%;
        }

        .branding h1 {
            font-size: 2rem;
            color: #2b2a2a;
            margin-bottom: 10px;
        }

        .branding .stars {
            color: #ffcc00;
            font-size: 1.5rem;
        }

        .form-container {
            flex: 1 1 50%;
            max-width: 500px;
            background-color: #fff;
            border: 1px solid #d0c7bd;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            min-height: 100%;
            box-sizing: border-box;
        }

        .form-container h2 {
            text-align: center;
            font-size: 1.5rem;
            color: #5b3924;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
            width: 95%;
        }

        .form-group label {
            display: block;
            font-size: 0.9rem;
            color: #5b3924;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group select {
            padding: 10px;
            font-size: 0.9rem;
            border: 1px solid #d0c7bd;
            border-radius: 5px;
            outline: none;
        }

        .form-group input {
            width: 100%;
        }

        .form-group select {
            width: 105%;
        }

        .form-group input:focus,
        .form-group select:focus {
            border-color: #5b3924;
        }

        .form-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .form-footer .terms {
            font-size: 0.8rem;
            color: #5b3924;
            padding-right: 50px;
        }

        .form-footer .terms a {
            color: #5b3924;
            text-decoration: underline;
        }

        .form-footer button, .form-footer .cancel_booking, .confirm_prompt button, .confirm_prompt .cancel_booking{
            padding: 10px 20px;
            font-size: 0.9rem;
            color: #fff;
            background-color: #5b3924;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-footer .cancel_booking, .confirm_prompt .cancel_booking{
            text-decoration: none;
            background-color: #fff;
            color: #5b3924;
            border: 1px solid #5b3924;
        }

        .form-footer button:hover {
            background-color: #422d1c;
        }

        .error_container{
            color: red;
            background-color: rgb(255,240,240);
        }

        .error_container li{
            padding: 5px;
        }

        .confirm_prompt {
            z-index: 2;
            height: 250px;
            width: 400px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #ffff;
            color: #5b3924;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 1px 1px 10px rgb(100,100,100);
            display: flex;
            flex-direction: column;
            display: none;
        }

        .confirm_prompt div{
            text-align: right;
        }

        .confirm_prompt p{
            flex: 1;
        }

        .gray_block{
            z-index: 1;
            background-color: rgba(255,255,255, .3);
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }

        @media (max-width: 768px) {
            .branding {
                flex: 1 1 100%;
            }

            .form-container {
                flex: 1 1 100%;
            }
        }