:root {
    --header-height: clamp(4rem, 4vw, 4vw);
    --color1: #623e2a;
    --color2: #7d675b;
    --color3: #e7d3c1;
    --color4: #efebe5;
    --color5: #efebe5;
    --fsize18 :  clamp(1.8rem, 1.8vw, 1.8vw);
    --fsize15 :  clamp(1.5rem, 1.5vw, 1.5vw);
    --fsize12 :  clamp(1.2rem, 1.2vw, 1.2vw);
    --fsize10 :  clamp(1rem, 1vw, 1vw);
    --fsize8  :  clamp(.8rem, .8vw, .8vw);
    --fsize30 :  clamp(3rem, 3vw, 3vw);
    --fsize50 :  clamp(5rem, 5vw, 5vw);
}

*{
    font-family: "Montserrat Alternates", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px white;
}

html{
    font-size: 9px;
}

/* header style ------------------------------*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(4rem, 8vw, 8vw);
    height: var(--header-height);
    background-color: rgba(0,0,0, .2);
    position: absolute;
    width: 100%;
}

.header div{
    display: flex;
    align-items: center;
    }

.header img{
    height: 75%;
}

.header h2{
    margin-left: clamp(2rem, 2vw, 2vw);
    white-space: no-wrap;
    color: white;
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    font-size: var(--fsize15);
    letter-spacing: clamp( .2rem, .2vw, .2vw);
    text-shadow: 0 0 1px black;
    }

.header nav{
    display: flex;
    align-items: center;
}

.header nav a{
    margin: 0 clamp(1rem, 1vw, 1vw);
    text-decoration: none;
    color: white;
    font-size: clamp( .9rem, .9vw, .9vw);
    font-family: "DM Serif Display", serif;
    letter-spacing: clamp(.15rem, .15vw, .15vw);
    text-shadow: 0 0 1px black;
}