{% extends 'layout.html' %}
{% load static %}
{% block link %}
    <link  rel="stylesheet" type="text/css" href="{% static 'about_us/css/style.css' %}?v={{ timestamp }}" >
{% endblock %}

{% block content %}
<div class="banner">
    <h1>About Us</h1>
    <h2>at KAPE-THANA BEACH HOUSE</h2>
</div>
<div>
    <div class="content">
        <div class="welcome">
            <h2>Welcome Home!</h2>
            <h3>KAPE-THANA TRANSIENT HOUSE</h3>
            <p>
                Welcome to Kape-Thana, nestled in the heart of Brgy. Abagatanen, Agno. Tucked away in a peaceful setting, our transient house offers the perfect escape from the daily grind.
            </p>
            <p>
                Leave behind the stress of everyday life and immerse yourself in the serene surroundings of our cozy retreat. Whether you’re seeking relaxation or adventure, Kape-Thana is the perfect place to recharge and unwind. With a warm, inviting atmosphere and top-notch amenities, you’ll feel right at home from the moment you arrive. <br>
                Come, experience tranquility like never before, and let us take care of the rest!
            </p>
        </div>
        <div class="images">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/462569699_946190107403167_883565775984463697_n.jpg?stp=dst-jpg_s640x640_tt6&_nc_cat=106&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeHp_madFavOf2o3R94e3_7wAYBqL0dgsMUBgGovR2CwxcgmYIhCOGzwBywaBQbwlMEFVx1HuVs4zOrGUwhiSgDd&_nc_ohc=0ShbpIuEyd4Q7kNvgFyhnjB&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QEwCHSpY_6FywS0CVQZWfGtOArsiHojNldNbRcqciUctg&oe=677DB889" alt="Beach view">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/465698261_600939545778504_6082059506928571386_n.jpg?stp=dst-jpg_s552x414_tt6&_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEYgU-uI6a0_XpF_Wi30AaN3s5U6hvNHanezlTqG80dqWuwh-C8F48xZdHF77X9PUs0fy2Wp5rZUkVCyAJ7dLNI&_nc_ohc=6bEf9JMbu7sQ7kNvgFdfvbs&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QHGhU2TUnwwqvBVjOPrF2TNBxIkWHRDfh-7vWyhnI7o8w&oe=677DBED4" alt="Coastal view">
        </div>
    </div>

    <div class="why-choose-us">
        <h2>Why Choose Us?</h2>
        <p>Top reasons to choose our homestay</p>
        <div class="features">
            <div class="feature">
                <h3>Perfect Location</h3>
                <p>Escape the noise and enjoy a peaceful stay in Brgy. Abagatanen, Agno, surrounded by nature and tranquility, yet close to all the essentials.</p>
            </div>
            <div class="feature">
                <h3>Comfort and Convenience</h3>
                <p>Our rooms are designed for your comfort, featuring modern amenities like Wi-Fi, air conditioning, hot and cold showers, and smart TVs—everything you need for a relaxing stay.</p>
            </div>
            <div class="feature">
                <h3>Affordable and Secure</h3>
                <p>Enjoy a comfortable stay at competitive rates with secure parking and reliable 24/7 customer support.</p>
            </div>
        </div>
    </div>

    <div class="booking-section">
        <div class="booking">
                <h2>BOOK YOUR STAY NOW!</h2>
                <p>CALL US AT</p>
                <p><strong>0902024568</strong></p>
            </div>
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/466912894_384549118012752_2900075315380923185_n.png?stp=dst-png_s843x403&_nc_cat=108&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGsvrt9F4vtzlXfkk_UE72qahkNgAyxqfxqGQ2ADLGp_FtaSloLY7vOj1nrFf3qADlN7rdT7ePPLFE04uda1D0S&_nc_ohc=3K_O2ECqfJoQ7kNvgHxlUqC&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QEaJKBZEuD1eEHPDxSJqlng-bIJsDqGvf_6EBkEtKoT2A&oe=677E07A6" alt="Room View">
    </div>
</div>



    <div class="section_3">
    <div>
        <img src="{% static 'home/img/contact-us_logo.png'%}" alt="Logo">
    </div>
<div class="information-container">
    <!-- Location Section -->
    <div class="information">
        <h3>LOCATION</h3>
        <p>Abagatanen, Agno Pangasinan</p>
        <p><a href="#">View Map</a></p>
    </div>

    <div class="vertical-line"></div>

    <!-- Quick Links Section -->
    <div class="quick-links">
        <h3>QUICK LINKS</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <div class="vertical-line"></div>

    <!-- Socials Section -->
    <div class="social_media">
        <h3>SOCIALS</h3>
        <div class="social-icons">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" class="icon icons8-Facebook-Filled">
                    <circle cx="25" cy="25" r="23" fill="none" stroke="#ffffff" stroke-width="2"></circle>
                    <path d="M39,17h-3c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z" fill="#ffffff"></path>
                </svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" class="icon icons8-Instagram-Filled">
                    <circle cx="25" cy="25" r="23" fill="none" stroke="#ffffff" stroke-width="2"></circle>
                    <rect x="12" y="12" width="26" height="26" rx="5" ry="5" fill="none" stroke="#ffffff" stroke-width="3"></rect>
                    <circle cx="25" cy="25" r="7" fill="none" stroke="#ffffff" stroke-width="3"></circle>
                    <circle cx="32" cy="18" r="2" fill="#ffffff"></circle>
                </svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" class="icon icons8-Twitter-Filled">
                    <circle cx="25" cy="25" r="23" fill="none" stroke="#ffffff" stroke-width="2"></circle>
                    <path d="M38.7,15.2c-1.2,0.5-2.5,0.8-3.8,1c1.4-0.8,2.5-2.2,3-3.8c-1.3,0.7-2.8,1.2-4.3,1.5c-1.3-1.4-3.2-2.2-5.2-2.2c-4,0-7.2,3.2-7.2,7.2c0,0.6,0.1,1.2,0.2,1.8C15,20.8,11.8,18.3,9.6,15.3c-0.7,1.2-1.1,2.5-1.1,4c0,2.8,1.4,5.3,3.4,6.7c-1.3-0.1-2.6-0.4-3.7-1c0,0.1,0,0.2,0,0.3c0,3.8,2.7,7.1,6.4,7.8c-0.7,0.2-1.4,0.3-2.2,0.3c-0.5,0-1-0.1-1.5-0.1c1.1,3.4,4.3,5.9,8.1,5.9c9.7,0,15-8.1,15-15c0-0.2,0-0.4,0-0.6C38.3,15.1,38.5,15.1,38.7,15.2z" fill="#ffffff"></path>
                </svg>
            </a>
        </div>
    </div>
</div>


</div>
{% endblock %}
