{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="banner">
        <h3>welcome to</h3>
        <h1>KAPE-THANA<br>BEACH HOUSE</h1>
        <button>LEARN MORE</button>
    </div>
    <div class="section_1">
        <div>
            <h1>Welcome to your luxurious home away from home</h1>
            <p>Escape to KAPE-THANA BEACH HOUSE—where paradise meets comfort! Tucked near stunning beaches, our cozy haven offers thoughtfully curated accommodations designed to make your dream getaway a reality. Whether you’re craving peaceful serenity, family fun, or a romantic seaside retreat, we’ve got you covered. With breathtaking ocean views, warm hospitality, and a relaxing vibe, every moment here feels magical. Your perfect beach escape is just a booking away—choose KAPE-THANA BEACH HOUSE and let us turn your vacation into an unforgettable story!</p>
        </div>
        <div>
            <img src="{% static 'home/img/kape-thana_bonFire.jpg'%}" alt="group bon fire" />
        </div>
    </div>

    <div class="section_2">
        <div>
            <h1>Explore Our <br> Stunning <br> Beach View</h1>
            <p>"Feel the thrill, catch the <br>waves, and make <br>unforgettable memories—<br>adventure awaits!"</p>
        </div>
        <div>
            <img src="{% static 'home/img/kape-thana_beachview.png'%}" alt="beach view" />
        </div>
    </div>

    <div class="section_3">
        <div >
            <img src="{% static 'home/img/kape-thana_sunsetview.jpg'%}" alt="Image">
        </div>
        <div>
            <p>"Where the sky kisses the <br> sea—find your peace in the<br>golden hues of paradise."</p>
        </div>
    </div>

    <div class="section_4">
         <div>
             <h1>Straight from our Costumer</h1>
         </div>
        <div>
            <div class="review_container">
                <div class="comment">
                    <h1>
                        ☆★★★★
                    </h1>
                    <p>
                        Maganda, pero konti yung pogi
                    </p>
                </div>
                <div class="profile">
                    <img src="{% static 'home/img/kape-thana_sunsetview.jpg'%}" alt="Image">
                    <h2>MC Jan Paul</h2>
                </div>
            </div>
            <div class="review_container">
                <div class="comment">
                    <h1>
                        ☆★★★★
                    </h1>
                    <p>
                        Maganda, pero konti yung pogi
                    </p>
                </div>
                <div class="profile">
                    <img src="{% static 'home/img/kape-thana_sunsetview.jpg'%}" alt="Image">
                    <h2>MC Jan Paul</h2>
                </div>
            </div>
            <div class="review_container">
                <div class="comment">
                    <h1>
                        ☆★★★★
                    </h1>
                    <p>
                        Maganda, pero konti yung pogi
                    </p>
                </div>
                <div class="profile">
                    <img src="{% static 'home/img/kape-thana_sunsetview.jpg'%}" alt="Image">
                    <h2>MC Jan Paul</h2>
                </div>
            </div>
        </div>
    </div>

  <div class="section_5">
    <div>
        <h1>Accommodation</h1>
    </div>
</div>

<div class="section_6">
    <div class="image-container">
        <img src="{% static 'home/img/kape-thana_background.jpg' %}" alt="bg" />
        <button class="cta-button">Book Now</button>
    </div>
    <div class="text-container">
        <div class="line"></div>
        <h1>Book now, experience the beauty of our staycations like never before</h1>
        <div class="line"></div>
        <p>Embrace the opportunity to disconnect from the digital world. Turn off your phone or put it on silent mode. Limit your use of electronic devices to truly immerse yourself in the present moment.</p>
        <div class="line"></div>
        <p class="contact-info">
            Abagatanen, Agno Pangasinan<br />
            0961 786 7187<br />
            kapethanabeachhouse@gmail.com
        </p>
    </div>
</div>



{% endblock %}

